<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
<title>Вход</title>
</head>

<body>
	
<form action="/" method="POST">
	<h1 align="center">Вход</h1>
	<fieldset>
		<label>
			<h3>Имя пользователя</h3>
			<input class="btn" type="text" name="login" maxlength="15" size="40" placeholder="Придумайте логин" />
		</label>
		
		<label>
			<h3>Пароль</h3>
			<input class="btn" type="password" name="pass" maxlength="10" size="40" placeholder="Придумайте логин" />
		</label>

		<h3></h3>
		
        <input type="submit" value="Отправить" size="40" />
	</fieldset>
<p><a href="/registr">Регистрация</a></p>
</body>

</html>